# Ignore everything
*

# But not these files...
!.gitignore
!.gitattributes
!.bashrc
!.vimrc
!.bash_profile
!.config

!.config/ghostty
!.config/ghostty/*

!.config/i3
!.config/i3/*

!.config/nvim
!.config/nvim/init.lua
!.config/nvim/.biome.json
!.config/nvim/.ols.json
!.config/nvim/.luarc.json

!.config/nvim/after
!.config/nvim/after/ftplugin
!.config/nvim/after/ftplugin/*

!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*
