# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!.gitattributes
!.bashrc
!.xinitrc
!.vimrc
!.bash_profile
!.tmux.conf
!cloneVimPlugins
!status.sh
!.mkshrc
!.profile

!dev/
!dev/tools/
!dev/tools/dwm/
!dev/tools/dwm/Makefile
!dev/tools/dwm/config.def.h
!dev/tools/dwm/config.h
!dev/tools/dwm/config.mk
!dev/tools/dwm/dwm.1
!dev/tools/dwm/drw.c
!dev/tools/dwm/drw.h
!dev/tools/dwm/dwm.c
!dev/tools/dwm/transient.c
!dev/tools/dwm/util.c
!dev/tools/dwm/util.h

!dev/tools/st/
!dev/tools/st/win.h
!dev/tools/st/st.info
!dev/tools/st/st.1
!dev/tools/st/Makefile
!dev/tools/st/config.mk
!dev/tools/st/arg.h
!dev/tools/st/st.c.orig
!dev/tools/st/config.def.h
!dev/tools/st/st.c
!dev/tools/st/st.h
!dev/tools/st/x.c
!dev/tools/st/config.h

!.config

!.config/mpv
!.config/mpv/*

!.config/ghostty
!.config/ghostty/*

!.config/wezterm
!.config/wezterm/wezterm.lua

!.config/nvim
!.config/nvim/init.lua
!.config/nvim/.biome.json
!.config/nvim/.ols.json
!.config/nvim/.luarc.json

!.config/nvim/lsp
!.config/nvim/lsp/*

!.config/nvim/after
!.config/nvim/after/ftplugin
!.config/nvim/after/ftplugin/*

!.config/nvim/colors
!.config/nvim/colors/*

!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*
