# Ignore everything
*

# But not these files...
!.gitignore
!.gitattributes
!.bashrc
!.vimrc
!.bash_profile
!.config
!.tmux.conf

!.vim
!.vim/pack
!.vim/pack/plugins
!.vim/pack/plugins/start
!.vim/pack/plugins/start/fzf.vim
!.vim/pack/plugins/start/fzf.vim/README.md
!.vim/pack/plugins/start/fzf.vim/autoload
!.vim/pack/plugins/start/fzf.vim/autoload/fzf/
!.vim/pack/plugins/start/fzf.vim/autoload/fzf/*
!.vim/pack/plugins/start/fzf.vim/autoload/fzf/vim
!.vim/pack/plugins/start/fzf.vim/autoload/fzf/vim/*
!.vim/pack/plugins/start/fzf.vim/plugin
!.vim/pack/plugins/start/fzf.vim/plugin/*
!.vim/pack/plugins/start/fzf.vim/doc
!.vim/pack/plugins/start/fzf.vim/doc/*
!.vim/pack/plugins/start/fzf.vim/bin
!.vim/pack/plugins/start/fzf.vim/bin/*

!.config/ghostty
!.config/ghostty/*

!.config/i3
!.config/i3/*

!.config/wezterm
!.config/wezterm/wezterm.lua

!.config/nvim
!.config/nvim/init.lua
!.config/nvim/.biome.json
!.config/nvim/.ols.json
!.config/nvim/.luarc.json

!.config/nvim/lsp
!.config/nvim/lsp/*

!.config/nvim/after
!.config/nvim/after/ftplugin
!.config/nvim/after/ftplugin/*

!.config/nvim/colors
!.config/nvim/colors/*

!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*
